spec/support/data/wsdl_sample_types.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://excursion.ws.com/Excursion/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://excursion.ws.com/Excursion/" xmlns:intf="http://excursion.ws.com/Excursion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsdns="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://excursion.ws.com/Excursion/" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="AuthenticationRealm">
       <sequence>
        <element name="SourceID" nillable="true" type="xsdns:string"/>
        <element name="MessageID" nillable="true" type="xsdns:string"/>
        <element name="MessageType" nillable="true" type="xsdns:string"/>
        <element name="TimeStamp" nillable="true" type="xsdns:string"/>
       </sequence>
      </complexType>
      <complexType name="AuthenticateOperationBody">
       <sequence>
        <element name="userName" type="xsdns:string"/>
        <element name="password" type="xsdns:string"/>
        <element name="CID" type="xsdns:string"/>
       </sequence>
      </complexType>
      <element name="AuthenticateOperation">
       <complexType>
        <sequence>
         <element name="Header" nillable="true" type="impl:AuthenticationRealm"/>
         <element name="Body" nillable="true" type="impl:AuthenticateOperationBody"/>
        </sequence>
       </complexType>
      </element>
      <complexType name="OperationRealm">
       <sequence>
        <element name="SourceID" nillable="true" type="xsdns:string"/>
        <element name="MessageID" nillable="true" type="xsdns:string"/>
        <element name="MessageType" nillable="true" type="xsdns:string"/>
        <element name="SessionID" nillable="true" type="xsdns:string"/>
        <element name="TimeStamp" nillable="true" type="xsdns:string"/>
       </sequence>
      </complexType>
      <complexType name="OperationError">
       <sequence>
        <element name="ErrorCode" nillable="true" type="xsdns:string"/>
        <element name="ErrorText" nillable="true" type="xsdns:string"/>
       </sequence>
      </complexType>
      <element name="AuthenticateOperationResponse">
        <complexType>
          <sequence>
            <element name="Header" nillable="true" type="impl:OperationRealm"/>
            <element name="Body" nillable="true" type="impl:AuthenticateOperationResponseBody"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateOperationPORTRequest">
    <wsdl:part element="impl:AuthenticateOperation" name="AuthenticateOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="AuthenticateOperationPORTResponse">
    <wsdl:part element="impl:AuthenticateOperationResponse" name="AuthenticateOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:binding name="excursionSOAPSoapBinding" type="impl:excursionPORT">
    <wsdl:operation name="AuthenticateOperationPORT">
      <wsdlsoap:operation soapAction="AuthenticatOperation"/>
      <wsdl:input name="AuthenticateOperationPORTRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AuthenticateOperationPORTResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
